[Desktop Entry]
Name=unidown
Name[ast]=unidown
Name[bg]=unidown
Name[bs]=unidown
Name[ca]=unidown
Name[ca@valencia]=unidown
Name[cs]=unidown
Name[da]=unidown
Name[de]=unidown
Name[el]=unidown
Name[en_GB]=unidown
Name[eo]=unidown
Name[es]=unidown
Name[et]=unidown
Name[fi]=unidown
Name[fr]=unidown
Name[ga]=unidown
Name[gl]=unidown
Name[hu]=unidown
Name[it]=unidown
Name[ja]=unidown
Name[kk]=unidown
Name[km]=unidown
Name[ko]=unidown
Name[lv]=unidown
Name[nb]=unidown
Name[nds]=unidown
Name[nl]=unidown
Name[nn]=unidown
Name[pa]=unidown
Name[pl]=unidown
Name[pt]=unidown
Name[pt_BR]=unidown
Name[ro]=unidown
Name[ru]=unidown
Name[sk]=unidown
Name[sq]=unidown
Name[sr]=unidown
Name[sr@ijekavian]=unidown
Name[sr@ijekavianlatin]=unidown
Name[sr@latin]=unidown
Name[sv]=unidown
Name[tr]=unidown
Name[ug]=unidown
Name[uk]=unidown
Name[x-test]=xxunidownxx
Name[zh_CN]=unidown
Name[zh_TW]=unidown
Exec=krubyapplication unidown/main.rb %i -caption "%c"
Icon=unidown
Type=Application
X-DocPath=unidown/index.html
GenericName=A KDE4 Ruby Application
GenericName[ast]=Una aplicación Ruby de KDE4
GenericName[bs]=KDE4 Ruby aplikacija
GenericName[ca]=Una aplicació Ruby del KDE4
GenericName[ca@valencia]=Una aplicació Ruby del KDE4
GenericName[da]=Et KDE4 Ruby-program
GenericName[de]=KDE-4-Ruby-Anwendung
GenericName[el]=Μια εφαρμογή KDE4 Ruby
GenericName[en_GB]=A KDE4 Ruby Application
GenericName[es]=Una aplicación Ruby de KDE4
GenericName[et]=KDE4 Ruby rakendus
GenericName[fi]=KDE4 Ruby -sovellus
GenericName[fr]=Une application Ruby pour KDE4
GenericName[ga]=Feidhmchlár Ruby KDE4
GenericName[gl]=Un programa en ruby de KDE4
GenericName[hu]=KDE4 Ruby alkalmazás
GenericName[it]=Un'applicazione Ruby di KDE4
GenericName[ja]=KDE 4 Ruby アプリケーション
GenericName[kk]=KDE4 Ruby қолданбасы
GenericName[km]=កម្មវិធី KDE4 Ruby
GenericName[ko]=KDE4 루비 프로그램
GenericName[lv]=KDE4 Ruby programma
GenericName[nb]=Et KDE 4 Ruby-program
GenericName[nds]=En Ruby-Programm för KDE4
GenericName[nl]=Ruby KDE4-programma
GenericName[nn]=Eit KDE 4 Ruby-program
GenericName[pl]=Program KDE4 w języku Ruby
GenericName[pt]=Uma Aplicação em Ruby para o KDE4
GenericName[pt_BR]=Um aplicativo em Ruby para o KDE4
GenericName[ro]=O aplicație Ruby KDE 4
GenericName[ru]=Приложение KDE 4 на языке Ruby
GenericName[sr]=КДЕ‑4 рубијевски програм
GenericName[sr@ijekavian]=КДЕ‑4 рубијевски програм
GenericName[sr@ijekavianlatin]=KDE4 ruby program
GenericName[sr@latin]=KDE4 ruby program
GenericName[sv]=Ett KDE4 Ruby-program
GenericName[tr]=Bir KDE4 Ruby Uygulaması
GenericName[uk]=Програма на Ruby для KDE4
GenericName[x-test]=xxA KDE4 Ruby Applicationxx
GenericName[zh_CN]=KDE4 Ruby 应用程序
GenericName[zh_TW]=KDE4 Ruby 應用程式
Terminal=false
