<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="unidown"  version="22">
<MenuBar>
  <!--<Menu name="move"><text>&amp;Move</text>
    <Action name="switch_action" />
</Menu>-->
<Menu name="file"><text>&amp;File</text>
<Action name="file_config"/>
<Action name="reload"/>
<Action name="reload-nodownload"/>
</Menu>
</MenuBar>
</kpartgui>
